circle{
    fill-opacity: .9;
    fill:rgb(29, 59, 234);
}
line{
    stroke:rgb(50, 192, 205);
    stroke-opacity:0.6;
}
.label{
    font-size: x-small;
    font-family: sans-serif;
}
.inactive{
    opacity: .1;
}